Devworks/src/flows/Employee_Bank_Record-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Employee_Record</name>
        <label>Add Employee Record</label>
        <locationX>307</locationX>
        <locationY>62</locationY>
        <actionName>BankService_addAccount__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Data_update</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountTypeField.Account_Type__c</assignToReference>
            <name>accountDetails_availableBal_201</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Employee Bank Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Bank Record</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Data_update</name>
        <label>Data update</label>
        <locationX>512</locationX>
        <locationY>63</locationY>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>101</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Employee_Record</targetReference>
        </connector>
        <fields>
            <name>Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Account_Information</startElementReference>
    <variables>
        <name>accountTypeField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
