Devworks/src/flows/MDMRecordCreation-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>IsRecordAvailable</name>
        <label>IsRecordAvailable?</label>
        <locationX>283</locationX>
        <locationY>34</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoRecordAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MDMRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MDM_Record_Creation</targetReference>
            </connector>
            <label>NoRecordAvailable</label>
        </rules>
    </decisions>
    <interviewLabel>MDMRecordCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MDMRecordCreation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>MDM_Record_Creation</name>
        <label>MDM Record Creation</label>
        <locationX>504</locationX>
        <locationY>34</locationY>
        <assignRecordIdToReference>MDMRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Name__c</field>
            <value>
                <stringValue>GEN</stringValue>
            </value>
        </inputAssignments>
        <object>MDM__c</object>
    </recordCreates>
    <recordLookups>
        <name>asdasd</name>
        <label>asd</label>
        <locationX>94</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRecordAvailable</targetReference>
        </connector>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>MDM__c</object>
        <outputAssignments>
            <assignToReference>MDMRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>asdasd</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MDMData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MDM__c</objectType>
    </variables>
    <variables>
        <name>MDMRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
